<!-- Footer -->
<div class="bg-light p-5 text-center">
	<h2>🤣Footer🤣</h2>
	<h5>📞H.P : 010-1111-2222</h5>
	<button class="btn btn-primary">고객센터</button>
	<button class="btn btn-success">오시는길</button>
</div>
</body>

</html>