{{> /layout/header}}

<div class="container p-5">

	<!-- 요청을 하면 localhost:8080/board/save POST 요청됨 -->
	<!-- title=사용자입력값&content=사용자입력값 -->
	<!-- 메뉴 버튼(돌아가기, 수정, 삭제) -->
	{{#pageOwner}}
		<div class="mb-2 d-flex justify-content-end">
			<button type="button" class="btn btn-success me-1">돌아가기</button>
			<a class="btn btn-primary me-1" href="/board/{{dtos.0.boardId}}/updateForm">수정</a>
			<form action="/board/{{dtos.0.boardId}}/delete" method="post">
				<button type="submit" class="btn btn-danger me-1">삭제</button>
			</form>
		</div>
	{{/pageOwner}}

	<!-- 제목과 내용 -->
	<div class="content1 mb-3">
		<h2>
			{{dtos.0.boardTitle}}
		</h2>
		<hr>
		<div>
			{{dtos.0.boardContent}}
		</div>
	</div>

	<!-- 댓글(Comment) 등록 -->
	<div class="card">
		<div class="card-body">
			<form action="/reply/save" method="post" enctype="application/x-www-form-urlencoded">
				<input type="hidden" name="boardId" value="{{dtos.0.boardId}}">
				<textarea class="form-control" rows="3" name="comment"></textarea>
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary mt-2">등록</button>
				</div>
			</form>
		</div>

		<!-- 댓글 리스트 -->
		<div class="card-footer">
			<b>댓글 리스트</b>
		</div>

		<!-- 댓글 -->
		<div class="list-group">
			<!-- 댓글아이템 -->
			{{#dtos}}
				{{#replyId}}
					<div class="list-group-item d-flex justify-content-between align-items-center">
						<div class="d-flex">
							<div class="px-1 me-1 bg-primary text-white rounded">{{replyUserUsername}}</div>
							<div>{{replyComment}}</div>
						</div>
						{{#replyOwner}}
							<form action="/reply/{{replyId}}/delete" method="post">
								<input type="hidden" name="boardId" value="{{boardId}}"/>
								<button class="btn">🗑</button>
							</form>
						{{/replyOwner}}
					</div>
				{{/replyId}}
			{{/dtos}}
		</div>
	</div>
</div>

{{> /layout/footer}}